{% extends 'admin/ma*ster.html' %}
{% block body %}
    {{ super() }}
    {% include "_parts/flashes.jinja2" %}
    <div class="row-fluid">
        <div>
            <form class="form-horizontal" action='{{ url_for("admin.change_password_view") }}' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Change your password</legend>
                    </div>
                    <div class="control-group">
                        <label class="control-label"  for="password">Old password</label>
                        <div class="controls">
                            {{ form.old_password }}
                            <p class="help-block">Your old password</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">New password</label>
                        <div class="controls">
                            {{ form.new_password }}
                            <p class="help-block">Your new password</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">New password confirmation</label>
                        <div class="controls">
                            {{ form.new_password_confirmation }}
                            <p class="help-block">Confirm your new password</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Confirm</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
{% endblock body %}
