{% extends '_parts/base.jinja2' %}

{% block header %}
    <h1>Adhésions</h1>
{% endblock header %}

{% block main %}
    <h2>Pourquoi Adhérer ?</h2>
    <h3>Adhérer pour soutenir les actions de l'AFPy</h3>
    <ul>
        <li>Organiser les PyConFr</li>
        <li>Traduire la documentation</li>
        <li>Organiser des MeetUp virtuels</li> 
        <li>Développer la platerforme HackInScience</li>
        <li>Administrer le forum</li> 
        <li>Héberger une liste d’offre emploi liés à Python</li> 
        <li>Être membre de l’April pour soutenir le logiciel libre</li> 
    </ul>
    <h3>Ce que permet l'adhésion à l'AFPy</h3>
    <ul>
        <li>Participer au vote à l’Assemblée Générale</li>
        <li>Pouvoir devenir membre du Comité Directeur</li>
        <li>Utiliser le BigBlueButton de l’association</li>
        <li>Avoir le badge Adhérent sur Discourse</li>
    </ul>
    <h3>Ce qu'on aimerait faire aussi</h3>
    <ul>
        <li>Des ateliers python dans les lycées</li>
        <li>Mettre en place une certification Python</li>
        <li>Être présents aux évènements</li>
        <li>Contribuer au Python libre</li>
        <li>Rémunérer des gens faisant vivre l’association</li>
    </ul>
    <h2>Adhérez à l'AFPy</h2>
    <iframe id="haWidget" src="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2022-a-l-afpy/widget"></iframe>
    <p>Si le widget ne fonctionne pas, essayez cette page : https://www.helloasso.com/associations/afpy/adhesions/adhesion-2022-a-l-afpy</p>
{% endblock main %}
