{% extends '_parts/base.jinja2' %}

{% block header %}
    <h1>Création d'un job</h1>
{% endblock header %}

{% block main %}

    <article>
      <h2>Pour plus de visibilité, la job board de l'AFPy bouge ici : <a href="https://discuss.afpy.org/c/emplois/14">https://discuss.afpy.org/c/emplois</a> !</h2>
      <p>
        Pour créer une offre d'emploi là bas, deux solutions :<br/>
        <ul>
          <li>Envoyer un email à jobs at afpy point org, le titre de votre offre en sujet, le message de votre offre en corps de message, c'est tout.</li>
          <li>Publier l'offre directement sur <a href="https://discuss.afpy.org">là bas</a>, dans la catégorie « <a href="https://discuss.afpy.org/c/emplois/14">Offres d'emploi</a> » en cliquant sur le bouton « Créer un sujet »</li>
        </ul>
      </p>
      <h2>C'est quoi https://discuss.afpy.org?</h2>
      <p>
        C'est une instance de <a href="https://discourse.org">Discourse</a>, un forum <a href="https://github.com/discourse/discourse">open source</a> qu'on héberge en france chez <a href="https://www.gandi.net/fr">Gandi</a>.
      </p>
    </article>
{% endblock main %}
