{% extends '_parts/base.jinja2' %}

{% block header %}
    <h1><abbr>AFPy</abbr> Association Francophone Python</h1>
{% endblock header %}

{% block main %}
    <h2>AFPy</h2>
    <p>L'AFPy promeut le langage Python depuis 2004, que ce soit auprès d'un public averti ou débutant.</p>
    <p>Les projets de l'AFPy :
      <ul>
        <li>L'organisation annuelle de la <a href="https://pycon.fr">PyConFr</a>.</li>
        <li>La traduction de <a href="https://docs.python.org/fr">la documentation de Python en français</a> (Licence CC0).</li>
        <li>La création d'un outil d'apprentissage et d'enseignement de Python : <a href="https://hackinscience.org">HackInScience</a> (Licence MIT).</li>
        <li>L'organisation d'<a href="https://discuss.afpy.org/c/meetups/12">évènements locaux ou en ligne.</a></li>
      </ul>
    </p>

    <h2>Adhérer</h2>
    <p>Il est possible de soutenir les projets de l'AFPy
      <a href="{{ url_for('home.adhere_page') }}">en cotisant ou en effectuant un don</a>.
    </p>

    <h2>Actualités</h2>
    <section id="index-news">
        {% for post in posts %}
            <article>
                <h3>{{ post.title }}</h3>
                <time pubdate datetime="{{ post.dt_published }}">
                    {{ post.dt_published.strftime('%d/%m/%Y') }}
                </time>
                {% if post.image_path %}
                    <img src="{{ url_for('home.get_image', path=post.image_path) }}" alt="{{ post.title }}" />
                {% endif %}
                {{ post.summary | safe }}
                <p><a href="{{ post|slug_url }}">Lire la suite…</a></p>
            </article>
        {% endfor %}
    </section>
{% endblock main %}
