{% extends "_parts/base.jinja2" %}

{% block header %}
    <h1>IRC</h1>
{% endblock header %}

{% block main %}
    <p>Depuis cette page web vous pouvez</p>

    <ul>
        <li>venir discuter avec l'association sur le canal <a href="#tchatafpy">#afpy</a></li>
        <li>parler Python en français sur le canal <a href="#tchatpython">#python-fr</a></li>
    </ul>

    <h2>Bon à savoir</h2>

    <p>
        IRC (Internet Relay Chat) permet d'utiliser plusieurs canaux de discussion en simultané. Si vous vous trouvez sur #afpy et souhaitez rejoindre #python-fr, rien de plus simple, tapez :
        <code>/join #python-fr</code>
    </p>

    <p>
        Si vous souhaitez changer de surnom après connexion :
        <code>/nick nouveaunom</code>
    </p>

    <h2 id="tchatafpy">Discuter avec l'AFPy (organisation de la communauté)</h2>

    <iframe src="https://web.libera.chat/#afpy"></iframe>

    <p>
        Vous pouvez aussi accéder au T'chat via un client IRC : <a href="irc://irc.libera.chat/afpy">irc://irc.libera.chat/afpy</a>.
        Nous stockons <a href="http://logs.afpy.org/">les archives IRC du canal #afpy</a>.
    </p>

    <h2 id="tchatpython">Discuter autour de Python</h2>

    <iframe src="https://web.libera.chat/#python-fr"></iframe>

    <p>
        Vous pouvez aussi accéder au T'chat via un client IRC : <a href="irc://irc.libera.chat/python-fr">irc://irc.libera.chat/python-fr</a>.
    </p>
{% endblock main %}
