{% extends '_parts/base.jinja2' %}

{% block header %}
    <h1>{{ title }}</h1>
{% endblock header %}

{% block main %}
    <aside>
        Vous pouvez <a href="{{ url_for('jobs.new_job') }}">créer une nouvelle offre</a> qui
        sera mis en ligne après acceptation de l'un des modérateurs.
    </aside>
    {% for job in jobs %}
        <article>
            <h2>{{ job.title }}</h2>
            <time pubdate datetime="{{ job.dt_published }}">
                {{ job.dt_published.strftime('%d/%m/%Y') }}
            </time>
            {% if job.image_path %}
                <img class="job" src="{{ url_for('home.get_image', path=job.image_path) }}" alt="{{ job.title }}" />
            {% endif %}
            {% if job.summary %}{{ job.summary |safe }}{% else %}{{ job.content|truncate(50)|safe }}{% endif %}
            {{ job.summary | safe if job.summary }}
            <p><a href="{{ job|slug_url }}">Lire la suite…</a></p>
        </article>
    {% endfor %}

    <aside>
        {% if current_page != 1 %}
            <a href="{{ url_for('jobs.jobs_page', current_page=(current_page - 1)) }}">Précedente</a>
        {% endif %}
        Page {{ current_page }}/{{ total_pages }}
        {% if current_page != total_pages %}
            <a href="{{ url_for('jobs.jobs_page', current_page=(current_page + 1)) }}">Suivante</a>
        {% endif %}
    </aside>
{% endblock main %}
