{% extends '_parts/base.jinja2' %}

{% block header %}
    <h1>{{ title }}</h1>
{% endblock header %}

{% block main %}
    <aside>
      <h2>Pour plus de visibilité, la job board de l'AFPy bouge ici : <a href="https://discuss.afpy.org/c/emplois/14">https://discuss.afpy.org/c/emplois</a> !</h2>
      <p>
        Pour créer une offre d'emploi là bas, deux solutions :<br/>
        <ul>
          <li>Envoyer un email à jobs at afpy point org, le titre de votre offre en sujet, le message de votre offre en corps de message, c'est tout.</li>
          <li>Publier l'offre directement sur <a href="https://discuss.afpy.org">là bas</a>, dans la catégorie « <a href="https://discuss.afpy.org/c/emplois/14">Offres d'emploi</a> » en cliquant sur le bouton « Créer un sujet »</li>
        </ul>
      </p>
    </aside>
    {% for job in jobs %}
        <article>
            <h2>{{ job.title }}</h2>
            <time pubdate datetime="{{ job.dt_published }}">
                {{ job.dt_published.strftime('%d/%m/%Y') }}
            </time>
            {% if job.image_path %}
                <img src="{{ url_for('home.get_image', path=job.image_path) }}" alt="{{ job.title }}" />
            {% endif %}
            {% if job.summary %}{{ job.summary |safe }}{% else %}{{ job.content|truncate(50)|safe }}{% endif %}
            <p><a href="{{ job|slug_url }}">Lire la suite…</a></p>
        </article>
    {% endfor %}

    <aside>
        {% if current_page != 1 %}
            <a href="{{ url_for('jobs.jobs_page', current_page=(current_page - 1)) }}">Précedente</a>
        {% endif %}
        Page {{ current_page }}/{{ total_pages }}
        {% if current_page != total_pages %}
            <a href="{{ url_for('jobs.jobs_page', current_page=(current_page + 1)) }}">Suivante</a>
        {% endif %}
    </aside>
{% endblock main %}
