{% block html_head %}
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <title>AFPY - Le site web de l'Association Francophone Python</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {{ pagedown.include_pagedown() }}
    </head>
{% endblock %}
