<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
  </head>
  <body>
    <nav>
    </nav>
    <main>
      {% block main %}{% endblock main %}
    </main>
  </body>
</html>
