<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <title>AFPY - Le site web de l'Association Francophone de Python</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block script %}{% endblock script %}
  </head>
  <body id="{{ body_id }}">
    <header>
      <div class="wrapper">
        {% block header %}{% endblock header %}
      </div>
    </header>
    <nav class="wrapper menu menu--main">
      {% set navigation_bar = [
        (url_for('index'), 'index', 'Accueil'),
        (url_for('rest', name='a-propos'), 'a-propos', 'Qui sommes-nous ?'),
        (url_for('posts', name='actualites'), 'actualites', 'Actualités'),
        (url_for('posts', name='emplois'), 'emplois', 'Offres d\'emplois'),
        (url_for('communaute'), 'communaute', 'Communauté'),
        ('https://discuss.afpy.org', 'discussion', 'Discussion'),
        (url_for('irc'), 'irc', 'IRC'),
        ('https://afpy.org/discord', 'discord', 'Discord'),
        (url_for('adhesions'), 'adhesions', 'Adhésions')
      ] -%}
      <label for="toggle" class="menu__toggle">Menu</label>
      <input class="menu__checkbox" type="checkbox" name="toggle" id="toggle" checked>
      <ul class="menu__list">
        <li class="menu__item menu__item--brand">
          <a class="brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" title="Logo afpy" />
            <span>AFPy</span>
          </a>
        </li>
      {% for href, id, caption in navigation_bar %}
        <li class="menu__item{% if id == body_id %} active{% endif
        %}"><a href="{{ href|e }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>
    </nav>
    <main>
      {% block main %}{% endblock main %}
    </main>
    <footer class="wrapper menu menu--footer">
      {% set navigation_bar = [
        (url_for('rest', name='contact'), 'Contact'),
        (url_for('rest', name='charte'), 'Charte'),
        (url_for('rest', name='legal'), 'Mentions légales'),
        (url_for('rest', name='rss'), 'Flux RSS'),
        ('https://twitter.com/asso_python_fr', 'Twitter'),
        (url_for('admin', name='actualites'), 'Admin actualités'),
        (url_for('admin', name='emplois'), 'Admin offres d\'emploi')
      ] -%}
      <ul class="menu__list">
        {% for href, caption in navigation_bar %}
          <li class="menu__item"><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul>
    </footer>
  </body>
</html>
