{% extends '_layout.jinja2' %}

{% block header %}
  <h1>Adhésions</h1>
{% endblock header %}

{% block main %}
  <h2>Adhérez à l'AFPy</h2>
  <p>
    Vous pouvez soutenir l'AFPy dans son développement et la promotion du langage Python en cotisant ou en faisant un don :
    <ul>
      <li>10€ - tarif réduit ;</li>
      <li>20€ - tarif plein.</li>
    </ul>
    Grâce aux soutiens, l'AFPy est en mesure d'organiser plus d'évènements permettant de faire découvrir le Python, et d'aider les <a href="{{ url_for('pages', name='communaute') }}">communautés locales</a> à se développer.
  </p>
{% endblock main %}
