{% extends "_layout.jinja2" %}

{% block header %}
  <h1>Clavardage</h1>
{% endblock header %}

{% block main %}
<p>Depuis cette page web vous pouvez</p>

<ul>
  <li>venir discuter avec l'association, sur le canal <a href="#tchatafpy">#afpy</a></li>
  <li>parler Python en français sur le canal <a href="#tchatpython">#python-fr</a></li>
</ul>

<h2>Bon à savoir</h2>

<p>
  IRC (Internet Relay Chat) permet d'utiliser plusieurs canaux de discussion en simultané. Si vous vous trouvez sur #afpy et souhaitez rejoindre #python-fr, rien de plus simple, tapez : <br/>
  <code>/join #python-fr</code>
</p>

<p>
  Si vous souhaitez changer de surnom après connexion : <br />
  <code>/nick nouveaunom</code>
</p>

<h2 id="tchatafpy">Discuter avec l'AFPy (organisation de la communauté)</h2>

<iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=afpy_user|?&theme=basic#afpy" style="border:0; width:100%; height:450px;"></iframe>

<p>
  Vous pouvez aussi accéder au T'chat via un client irc : <a href="irc://irc.freenode.net/afpy">irc://irc.freenode.net/afpy</a>.<br />
  Les archives irc du canal #afpy sont disponibles <a href="http://logs.afpy.org/">ici</a>.
</p>

<h2 id="tchatpython">Clavarder autour de Python</h2>

<iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=afpy_user|?&theme=basic#python-fr" style="border:0; width:100%; height:450px;"></iframe>

<p>
  Vous pouvez aussi accéder au T'chat via un client irc : <a href="irc://irc.freenode.net/python-fr">irc://irc.freenode.net/python-fr</a>.
</p>

<iframe src="http://webchat.freenode.net/?nick=afpy_user&channels=afpy&prompt=1" width="100%" height="400"></iframe>

{% endblock main %}
