{% extends "_layout.jinja2" %}

{% block header %}
  <h1>Communauté</h1>
{% endblock header %}

{% block main %}
  <h2>Forum de discussion</h2>
  <p>
    Afin d'échanger avec la communauté, un forum de discussion est disponible et
    traite de tous les sujets autour de Python.
  </p>
  <p>
    <a href="https://discuss.afpy.org/">Forum</a>
  </p>

  <h2>Rencontres</h2>
  <p>
    Afin de partager autour du langage Python, de ses pratiques, de sa technique et de son écosystème,
    des évènements sont organisés régulièrement dans divers lieux.
  </p>
  <ul>
    {% for city, url in meetups.items() %}
      <li><a href="{{ url }}">{{ city | capitalize }}</a></li>
    {% endfor %}
  </ul>

  <h2>PyConFr</h2>
  <p>
    La PyConFr est un évènement organisé chaque année depuis 10+ ans par l'AFPy.
    Cette conférence est gratuite, entièrement organisée par des bénévoles et
    regroupe développeu·ses·rs, chercheu·ses·rs, étudiant·e·s et amat·rices·eurs
    autour d'une même passion pour le langage de programmation Python.
  </p>
  <p>
    <a href="https://www.pycon.fr/">PyConFr</a>
  </p>

  <h2>April</h2>
  <p>
    Pionnière du logiciel libre en France, l'April  est depuis 1996 un acteur majeur de la démocratisation
    et de la diffusion du logiciel libre et des standards ouverts auprès du grand public,
    des professionnels et des institutions dans l'espace francophone.
  </p>
  <p>
    <a href="http://april.org/campagne/">April</a>
  </p>
{% endblock main %}
