{% extends "_layout.jinja2" %}

{% block header %}
  <h1>Communauté</h1>
{% endblock header %}

{% block main %}
  <section>
    <div>
      <h2>April</h2>
      <a href="http://april.org/campagne/">April</a>
    </div>
    <div>
      <div>
        <h2>Meetups</h2>
        <ul>
          {% for meetup in meetups %}
            <li><a href="{{ url_for('feed', name='meetup_{}'.format(meetup)) }}">{{ meetup }}</a><li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h2>Pycon</h2>
        <a href="https://www.pycon.fr/">Pyconfr</a>
      </div>
    </div>
  </section>
{% endblock main %}
