{% extends '_layout.jinja2' %}

{% block header %}
  <h1>{{ title }}</h1>
{% endblock header %}

{% block main %}
  {# TODO: change this when the new website for news is available #}
  {% if body_id == 'emplois' %}
    <p>
      Vous souhaitez publier une offre d'emploi ? Merci de vous rendre sur
      la <a href="https://plone.afpy.org/doc/afpy/faq.html">Foire aux
      Questions</a> et de suivre les indications qui y sont détaillées.
    </p>
  {% endif %}

  {% for entry in entries[:12] %}
    <article>
      <h2>{{ entry.title }}</h2>
      <time pubdate datetime="{{ entry.updated_parsed | datetime('%Y-%m-%d') }}">
        {{ entry.updated_parsed | datetime('%x') }}
      </time>
      {{ entry.summary | safe }}
      <p><a href="{{ entry.link }}">Lire la suite…</a></p>
    </article>
  {% endfor %}
{% endblock main %}
