{% extends '_layout.jinja2' %}

{% block header %}
  <h1><abbr>AFPy</abbr> Association Francophone Python</h1>
{% endblock header %}

{% block main %}
  <h2>AFPy</h2>
  <p>
    Créée en décembre 2004, l'AFPy (Association Francophone Python) a pour but de promouvoir le langage Python, que ce soit auprès d'un public averti ou débutant.
    Pour ce faire, des <a href="{{ url_for('pages', name='communaute') }}">évènements</a> sont organisés régulièrement au niveau local et d'autres évènements à un niveau plus général.
  </p>

  <h2>Adhérer</h2>
  <p>
    Il est possible de soutenir le développement de l'AFPy en cotisant ou en effectuant un don. Une cotisation = un panda roux sauvé.
  </p>
  <form action="{{ url_for('pages', name='adhesions') }}">
    <input type="submit" value="S'inscrire" />
  </form>

  <h2>Actualités</h2>
  <section id="index-news">
    {% for timestamp, post in posts.items() %}
      <article>
        <h3>{{ post.title }}</h3>
        <time pubdate datetime="{{ post.pubDate | parse_rfc822_datetime | datetime('%Y-%m-%d') }}">
          {{ post.pubDate | parse_rfc822_datetime | datetime('%x') }}
        </time>
        {{ post.description | safe }}
        <p><a href="{{ url_for('post', name=name, timestamp=timestamp) }}">Lire la suite…</a></p>
      </article>
    {% endfor %}
  </section>
{% endblock main %}
