{% extends '_layout.jinja2' %}

{% block header %}
  <h1>{{ title }}</h1>
{% endblock header %}

{% block main %}
  {% for timestamp, post in posts.items() %}
    <article>
      <h2>{{ post.title }}</h2>
      <time pubdate datetime="{{ post.pubDate | parse_rfc822_datetime | datetime('%Y-%m-%d') }}">
        {{ post.pubDate | parse_rfc822_datetime | datetime('%x') }}
      </time>
      {{ post.description | safe }}
      <p><a href="{{ url_for('post', name=name, timestamp=timestamp) }}">Lire la suite…</a></p>
    </article>
  {% endfor %}
{% endblock main %}
