{% extends '_layout.jinja2' %}

{% block header %}
  <h1>{{ title }}</h1>
{% endblock header %}

{% block main %}
  <aside>
    Vous pouvez <a href="{{ url_for('edit_post', name=name) }}">créer un article</a> qui
    sera mis en ligne après acceptation de l'un des modérateurs.
  </aside>
  {% for timestamp, post in posts.items() %}
    <article>
      <h2>{{ post.title }}</h2>
      <time pubdate datetime="{{ post.published }}">
        {{ post.published | parse_iso_datetime('%x') }}
      </time>
      {{ post.summary | safe }}
      <p><a href="{{ url_for('post', name=name, timestamp=timestamp) }}">Lire la suite…</a></p>
    </article>
  {% endfor %}
{% endblock main %}
